header{
  position: fixed;
  z-index: 999;
  top:0;
  left: 0;
  right: 0;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 2rem;
  background: transparent;
  transition:all ease-in-out 0.7s;
}
header.black{
  background: #141414;
}
.header--logo,.header--user{
  height: 3rem;
  
}
.header--logo img{
  height: 50%;
}
.header--user img{
  height: 100%;
  border-radius: 50%;
}
footer{
  margin:5rem 0;
  text-align:center;
}
